@{
    ViewBag.Title = "Tutor Registrations";
}
<h1>@ViewBag.Title</h1>
@(Html.Kendo().Grid<HelloTutor.Models.TutorsClassesViewModel>()
          .Name("gridTutors")
          .Columns(columns =>
          {
              columns.Bound(T => T.ClassName);
              columns.Bound(T => T.StartDate).Title("Start Date").Format("{0:MM/dd/yyyy}");
              columns.Bound(T => T.EndDate).Title("End Date").Format("{0:MM/dd/yyyy}");
              columns.Bound(T => T.NumberOfTutors);
              columns.Command(command => command.Custom("ViewDetails").Click("showDetails")).Width(180);
          })
          .HtmlAttributes(new { style = "height:600px;" })
          .ToolBar(tools => tools.Excel())
          //.Editable(editable => editable.Mode(GridEditMode.InLine))
          .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5)) // Enable paging
          .Scrollable()
          .Groupable()
          .Sortable() // Enable sorting
                      //.ClientDetailTemplateId("template")
          .Filterable()
          .DataSource(dataSource => dataSource //Configure the Grid data source.
              .Ajax() //Specify that Ajax binding is used.
              .Model(model => model.Id(T => T.ClassID))
              //.Create(update => update.Action("EditingInline_Create", "Tutors"))
              .Read(read => read.Action("tutors_Classes_Read", "Classes")) //Set the action method which will return the data in JSON format.
              //.Update(update => update.Action("EditingInline_Update", "Tutors"))
              //.Destroy(update => update.Action("EditingInline_Destroy", "Tutors"))
              .PageSize(20)
              //.Events(events => events.Error("error_handler"))
           )
)
















<script type="text/javascript">
    
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        document.location = '/Classes/ViewClassRegistrations/' + dataItem.ClassID;
    }
</script>