
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>

    </title>
    <link rel="stylesheet" href="/Content/NALRegistrationStyles.css" />
    <link rel="stylesheet" href="/Content/Register/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <form method="post" action="/Register/Index" onsubmit="javascript: return validateForm();" id="form1">

        <div id="formBackground">

            <div id="formheader">
                <img src="/Content/NALClogo_large.png" id="nalcLogo" alt="Nashville Adult Literacy Council" />
            </div>

            
            <table align="center" style="align-self:center;vertical-align:central;max-width:600px">
                <tr>
                    <td colspan="2">
                        <span id="lblWarning"></span>
                    </td>
                </tr>
                
                <tr>
                    <td colspan="3">
                        <br />
                        Thank you for registering to be a Nashville Adult Literacy Council volunteer tutor! Your place at your chosen training session has been reserved.<br /><br />
                        You should receive a confirmation email shortly. Please remember to check your Junk folder in case we end up in there!<br /><br />
                        If you don’t receive a confirmation email, or if you have any further questions, please contact us at 615-298-8060 or info@nashvilleliteracy.org.<br /><br />
                        We look forward to meeting you soon.<br /><br />
                        Return to <a href="http://nashvilleliteracy.org">nashvilleliteracy.org</a>

                        <br /><br />
                        <br /><br />
                        <br /><br />
                        <br /><br />
                        <br /><br />
                        <br /><br />
                    </td>
                </tr>
            </table>
        </div>

    </form>


</body>
</html>


